# Ignore env
env/
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore dotenv files
.env

# Ignore editor settings
.vscode/

# Ignore everything in data/
data/*

# But NOT data/chunkpdf and its contents
!data/chunkpdf/
!data/chunkpdf/**

# Ignore everything in app/static/
app/static/*

# But NOT app/static/pdf_images and its contents
!app/static/pdf_images/
!app/static/pdf_images/**
