# Web Framework & Extensions
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.7.1
Flask-Cors==6.0.1
python-dotenv==1.1.1

# Database & Vector Store
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10 # Driver untuk PostgreSQL
pgvector==0.4.1       # Ekstensi vector untuk PostgreSQL
chromadb==1.1.0      # Client untuk ChromaDB vector store
numpy==2.3.3

# API & Services Interaction
requests==2.32.5
google-genai==1.41.0

# Data Processing & Utilities
pandas==2.3.3         # Untuk membaca file CSV
PyMuPDF==1.26.4      # Untuk memproses file PDF (diimpor sebagai 'fitz')
nltk==3.9.2           # Natural Language Toolkit untuk stopwords
click==8.3.0         # Untuk membuat command-line interface
pytz==2025.2
cachetools==6.2.0

Flask-Caching